.header {
    text-align: center;
    overflow: hidden;
    font-size: 30px;
    font-family: oto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header a {
    float: left;
    color: maroon;
    padding: 14px 16px;
    text-decoration: none;
    
}

.header a:hover {
    color: black;
}

.footer {
    text-align: center;
    overflow: hidden;
    font-size: 30px;
    font-family: oto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer a {
    float: left;
    color: maroon;
    padding: 14px 16px;
    text-decoration: none;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer a:hover {
    color: black;

/* I am at this website https://designmodo.com/css-grid/ 
/* ctrl-f "The other property is grid-template-rows."